# PostgreSQL / Neon DB
POSTGRES_HOST="ep-your-database-pooler.us-east-1.aws.neon.tech"
POSTGRES_PORT="5432"
POSTGRES_DATABASE="verceldb"
POSTGRES_USER="default"
POSTGRES_PASSWORD="your-password"
POSTGRES_URL="postgres://user:password@host/dbname?sslmode=require"
