@font-face {
	font-family: 'icones';
	src: url(icones.ttf);
}

body {
	font-family: 'Montserrat', sans-serif;
}

/*=================================================
|||     |    1 PARTE: HEADER DA PÁGINA    |     |||
||+-----+------------------+--------------+-----+||
|||  Autor: Crystian Ataide | Data: 14/05/2023	|||
=================================================*/
header {
	background: linear-gradient(135deg, #0b8c9f 0%, #0b8c9f 25%, #9ad2c5 75%, #9ad2c5 100%);
}

.cabecalho_inicio {
	display: flex;
	align-items: center;
	padding-right: 15px;
	justify-content: center;
}

.cabecalho_inicio .img_estacio {
	width: 300px;
}

.cabecalho_inicio .img_carrinho {
	width: 75px;
}

.cabecalho{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.img_logo {
	display: flex;
	align-items: center;
	padding-right: 15px;
}

.img_estacio {
	width: 200px;
}

.img_carrinho{
	width: 55px;
}

.barra_topo{
	flex-direction: row;
	padding-left: 10px;
	display: flex;
}

.msg_name{
	display: flex;
	align-items: center;
	padding: 1rem;
}

.botao_menu {
	padding: 0.5rem;
}

.menu_admin {
	list-style:none;
	float:left;
	width: 100%;
}

.menu_admin li {
	position: relative;
	font-size: 1.2rem;
}

.menu_admin li a {
	color:#FFF; 
	display:block;
	padding: 1rem 1rem;
	text-decoration:none;
}

.menu_admin li a:hover {
	color: #FFF;
	font-weight: 600;
}

.menu_admin li a img {
	width: 30px;
	transition-duration: 0.3s;
}

.menu_admin li a img:hover {
	filter: invert();
	transform: scale(110%);
}

.menu_admin li ul {
	left: 0;
	top: 50px;
	display: none;
	position: absolute;
	border-radius: 15px;
	background: #107281;
}

.menu_admin li:hover ul, .menu li.over ul{
	display:block;
}

.menu_admin li ul li{
	width: 200px;
	text-align: left;
	border-bottom:1px solid #FFF;
}

/*=================================================
|||		|	 2 PARTE: PÁGINA DE LOGIN	  |     |||
||+-----+------------------+--------------+-----+||
|||  Autor: Crystian Ataide | Data: 22/04/2023	|||
=================================================*/
.container {
	width: 400px;
	margin: 100px auto;
	/* background-color: #fff; */
	padding: 10px 60px 20px;
	/* box-shadow: 0px 0px 20px #d7c5c5; */
	
	border-radius: 55px;
	background: #fff;
	box-shadow:  22px 22px 42px #cacaca,
				-22px -22px 42px #f6f6f6;
}

.login-form h2 {
	font-size: 35px;
	margin: 30px;
	text-align: center;
}

label {
	display: block;
	margin-bottom: 8px;
}

input {
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	display: block;
	font-size: 16px;
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
}

.cad_login--titulo {
	font-size: 13px;
}

.cad_login--btn {
	border: 0px;
	cursor: pointer;
	font-size: 14px;
	color: #116999;
	border-radius: 7px;
	font-weight: normal;
	border-color: initial;
	text-decoration: underline;
	background-color: transparent;
}

.cad_login--btn:hover {
	color: #082875;
}

input[type="submit"] {
	background-color: #4CAF50;
	border-radius: 4px;
	margin-top: 10px;
	cursor: pointer;
	font-size: 16px;
	padding: 12px;
	color: #fff;
	border: none;
	width: 100%;
}

input[type="submit"]:hover {
	background-color: #3e8e41;
	transform: scale(102%);
}

/*=================================================
|||     |   3 PARTE: PÁGINA DE ESCOLHAS   |     |||
||+-----+------------------+--------------+-----+||
|||  Autor: Crystian Ataide | Data: 22/04/2023	|||
=================================================*/
.main-escolha {
	width: 100%;
}

.escolha {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 120px 0;
}

.escolha h2 {
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 20px;
}

.escolha img {
	width: 80%;
}

.lista-usuarios,
.lista-produtos,
.lista-fornecedores {
	box-shadow:  25px 25px 50px #a6a6a6,
				-25px -25px 50px #ffffff;
	background-color: #fff;
	border: solid #0b8c9f;
	border-width: 10px 3px;
	box-sizing: border-box;
	transition: 0.3s all;
	border-radius: 55px;
	text-align: center;
	position: relative;
	padding: 30px 20px;
	margin: 0 4.5%;
	width: 35%;
}

.lista-usuarios:hover,
.lista-produtos:hover,
.lista-fornecedores:hover {
	border-color: #9ad2c5;
	transform: scale(105%);
	cursor: pointer;
	padding: 30px 20px;
}

/*=================================================
|||     |   4 PARTE: PÁGINA DE CADASTRO   |     |||
||+-----+------------------+--------------+-----+||
|||  Autor: Crystian Ataide | Data: 01/05/2023	|||
=================================================*/
.form_cadastro {
	width: 550px;
    margin: 0 auto;
    padding: 3em 0;
}

.cadastro {
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0px 0px 20px #d7c5c5;
	margin: 100px auto;
	padding: 10px 65px 40px;
	width: 400px;
}

.cadastro h2 {
	font-size: 30px;
	margin: 30px 0;
	text-align: center;
}

.cadastro p {
	font-size: 13px;
}

.cad_form {
    margin: 15px 0 40px;
}

/*=================================================
|||		|   5 PARTE: PÁGINA DE EXIBIÇÃO   |     |||
||+-----+------------------+--------------+-----+||
|||  Autor: Crystian Ataide | Data: 01/05/2023	|||
=================================================*/
.tabela {
	box-shadow:  22px 22px 42px #cacaca,
				-22px -22px 42px #f6f6f6;
	padding: 10px 30px 60px 60px;
	background-color: #fff;
	border-radius: 55px;
	margin: 100px auto;
	width: 1000px;
}

.area_titulo h2 {
	text-align: center;
	font-size: 35px;
	margin: 20px;
}

.area_titulo a {
	display: block;
	width: 0;
}

.btn_incluir {
	width: 45px;
	height: 45px;
	border: none;
	display: flex;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	border-radius: 50%;
	align-items: center;
	transition-duration: .3s;
	justify-content: flex-start;
	background-color: #4CAF50;
	box-shadow: 2px 2px 10px #4CAF50;
}

.btn_incluir img {
	width: 20px;
	padding: 7px;
	display: flex;
	filter: invert();
	align-items: center;
	justify-content: center;
	transition-duration: .3s;
}

.btn_incluir:hover img {
	transform: rotate(180deg);
}

.text {
	right: 0%;
	width: 0%;
	opacity: 0;
	color: white;
	font-size: 1.2em;
	font-weight: 600;
	position: absolute;
	transition-duration: .3s;
}

.btn_incluir:hover {
	width: 125px;
	border-radius: 40px;
	transition-duration: .3s;
}

.btn_incluir:hover .btn_incluir img {
	width: 30%;
	padding-left: 20px;
	transition-duration: .3s;
}

.btn_incluir:hover .text {
	width: 70%;
	opacity: 1;
	padding-right: 10px;
	transition-duration: .3s;
}

.btn_incluir:active {
	transform: translate(2px ,2px);
}

table {
	width: 100%;
}

.tabela_cabecalho {
	font-weight: 600;
	height: 5rem;
}

.tabela_cabecalho th {
	border-bottom: 3px solid #0b8c9f;
	padding: 30px;
}

.tabela_desc {
	cursor: pointer;
	position: relative;
	transition: 0.3s all;
}

.tabela_desc .desc {
	border-bottom: 3px solid #0b8c9f;
	transition: 0.2s all;
	text-align: center;
	font-size: 1.2rem;
	padding: 5px;
}

.tabela_desc:hover > :not(td:nth-last-child(-n+1)) {
	background-color: #9ad2c5;
	transform: scale(102%);
}

.tabela_desc img {
	width: 15px;
	padding: 5px;
	position: absolute;
	visibility: hidden;
	transform: translateY(-50%);
}

.tabela_desc:hover img{
	visibility: visible;
}

.acao {
	border: none;
	display: flex;
	/* position: absolute; */
    align-items: center;
	padding-left: 10px;
	justify-content: space-between;
}

/* .tabela_desc:hover .acao {
	border-radius: 40px;
	padding: 10px 0;
} */

.acao a {
	padding: 5px;
	margin-right: 17px;
	transition: 0.3s all;
}

.acao a:hover {
    transform: scale(110%);
}

.tabela_desc:hover .botao_edit {
	width: 20px;
	padding: 8px;
	border-start-start-radius: 40px;
	border-end-start-radius: 40px;
	background: #9ad2c5;
}

.tabela_desc:hover .botao_delete {
	width: ;
	padding: 8px;
	border-start-end-radius: 40px;
	border-end-end-radius: 40px;
	background: #ff0000;
}

/*=================================================
|||		|    5 PARTE: RODAPE DA PÁGINA    |     |||
||+-----+------------------+--------------+-----+||
|||  Autor: Crystian Ataide | Data: 26/05/2023	|||
=================================================*/
.rodape {
	width: 100%;
	display: flex;
	padding: 50px 0;
	justify-content: center;
	background: linear-gradient(135deg, #9ad2c5 0%, #9ad2c5 25%, #0b8c9f 75%, #0b8c9f 100%);
}

.img_logo-rodap {
	display: flex;
	align-items: center;
	padding-right: 30px;
	transition: 0.3s all;
}

.img_logo-rodap:hover {
	transform: scale(101%);
}

.img_rodap-carrinho {
	width: 45px;
}

.img_rodap-estacio {
	width: 190px;
}

.descricao p {
	font-size: 15px;
}

.contatos {
	padding-top: 10px;
}

.logo_contato {
	width: 20px;
	transition: 0.3s all;
}

.logo_contato:hover {
	transform: scale(110%);
}