@font-face {
	font-family: 'icones';
	src: url(icones.ttf);
}

html {
	height: 100%;
	min-height: 100%;
}

body {
	min-height: 100%;
	font-family: 'Montserrat', sans-serif;
}

/*=================================================
|||     |    1 PARTE: HEADER DA PÁGINA    |     |||
||+-----+------------------+--------------+-----+||
|||  Autor: Crystian Ataide | Data: 14/05/2023	|||
=================================================*/
header {
	background: linear-gradient(135deg, #0b8c9f 0%, #0b8c9f 25%, #9ad2c5 75%, #9ad2c5 100%);
}

.cabecalho_inicio {
	display: flex;
	align-items: center;
	padding-right: 15px;
	justify-content: center;
}

.cabecalho_inicio .img_estacio {
	width: 300px;
}

.cabecalho_inicio .img_carrinho {
	width: 75px;
}

.cabecalho{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.img_logo {
	display: flex;
	align-items: center;
	padding-right: 30px;
}

.img_estacio {
	width: 200px;
}

.img_carrinho{
	width: 55px;
}

.barra_topo{
	flex-direction: row;
	/* padding-left: 10px; */
	display: flex;
}

.msg_name{
	display: flex;
	align-items: center;
	padding: 1rem;
}

.botao_menu {
	padding: 0.5rem;
}

.menu_admin {
	list-style:none;
	float:left;
	width: 100%;
}

.menu_admin li {
	position: relative;
	font-size: 1.2rem;
}

.menu_admin li a {
	color:#FFF; 
	display:block;
	padding: 1rem 1rem;
	text-decoration:none;
}

.menu_admin li a:hover {
	color: #FFF;
	font-weight: 600;
}

.menu_admin li a img {
	width: 30px;
	transition-duration: 0.3s;
}

.menu_admin li a img:hover {
	filter: invert();
	transform: scale(110%);
}

.menu_admin li ul {
	left: 0;
	top: 50px;
	display: none;
	position: absolute;
	border-radius: 15px;
	background: #107281;
}

.menu_admin li:hover ul, .menu li.over ul{
	display:block;
}

.menu_admin li ul li{
	width: 200px;
	text-align: left;
	border-bottom:1px solid #FFF;
}

/*=================================================
|||		|	 2 PARTE: PÁGINA DE LOGIN	  |     |||
||+-----+------------------+--------------+-----+||
|||  Autor: Crystian Ataide | Data: 22/04/2023	|||
=================================================*/
.container {
	width: 400px;
	margin: 100px auto;
	/* background-color: #fff; */
	padding: 10px 60px 20px;
	/* box-shadow: 0px 0px 20px #d7c5c5; */
	
	border-radius: 55px;
	background: #fff;
	box-shadow:  22px 22px 42px #cacaca,
				-22px -22px 42px #f6f6f6;
}

.login-form h2 {
	font-size: 35px;
	margin: 30px;
	text-align: center;
}

label {
	display: block;
	margin-bottom: 8px;
}

input {
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	display: block;
	font-size: 16px;
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
}

.cad_btn {
	display: flex;
	justify-content: space-between;
}

input[name="botao_entrar"] {
	width: 100%;
	border: none;
	color: #fff;
	padding: 12px;
	cursor: pointer;
	font-size: 16px;
	margin-top: 30px;
	border-radius: 4px;
	transition: .2s all;
	background-color: #4CAF50;
}

input[name="botao_cancel"],
input[name="botao_salvar"] {
	width: 90%;
	border: none;
	color: #fff;
	padding: 12px;
	cursor: pointer;
	font-size: 16px;
	border-radius: 4px;
	transition: .2s all;
}

input[name="botao_salvar"] {
	margin: 10px 0 0 10px;
	background-color: #4CAF50;
}

input[name="botao_cancel"] {
	margin: 10px 10px 0 0;
	background-color: red;
}

input[name="botao_entrar"]:hover,
input[name="botao_salvar"]:hover {
	background-color: #3e8e41;
	transform: scale(102%);
}

input[name="botao_cancel"]:hover {
	background-color: #9e0000;
	transform: scale(102%);
}

/*=================================================
|||     |   3 PARTE: PÁGINA DE ESCOLHAS   |     |||
||+-----+------------------+--------------+-----+||
|||  Autor: Crystian Ataide | Data: 22/04/2023	|||
=================================================*/
.main-escolha {
	width: 1000px;
	margin: 0 auto;
	padding: 3em 0;
}

.main-escolha h3 {
	font-size: 2em;
	text-align: center;
	margin-bottom: 1em;
}

.texto {
	border-radius: 40px;
	padding: 20px 40px 40px;
	box-shadow:  22px 22px 42px #cacaca, -22px -22px 42px #f6f6f6;
}

.texto h2 {
	clear: left;
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 1.5em;
}

.texto p {
	font-size: 0.95em;
	margin-bottom: 1em;
}

.escolha {
	padding: 50px 4em;
}

.escolha_box {
	display: flex;
	justify-content: center;
}

.escolha_box h2 {
	font-size: 25px;
	font-weight: bold;
	padding-bottom: 20px;
}

.escolha_box img {
	width: 70%;
}

.lista {
	width: 20%;
	margin: 0 4.5%;
	padding: 30px 20px;
	text-align: center;
	border-radius: 55px;
	transition: 0.3s all;
	border: solid #0b8c9f;
	box-shadow: 25px 25px 50px #a6a6a6, -25px -25px 50px #ffffff;
}

.lista:hover {
	cursor: pointer;
	padding: 30px 20px;
	transform: scale(105%);
	border-color: #9ad2c5;
}

.mapa {
	padding: 3em 0;
}

.mapa_conteudo {
	width: 940px;
	margin: 0 auto;
}

/*=================================================
|||     |   4 PARTE: PÁGINA DE CADASTRO   |     |||
||+-----+------------------+--------------+-----+||
|||  Autor: Crystian Ataide | Data: 01/05/2023	|||
=================================================*/
.form_cadastro {
	width: 550px;
    margin: 0 auto;
    /* padding: 3em 0; */
}

.cadastro {
	width: 400px;
	margin: 110px auto;
	border-radius: 20px;
	padding: 10px 50px 30px;
	background-color: #fff;
	box-shadow: 0px 0px 20px #d7c5c5;
}

.cadastro h2 {
	margin: 25px 0;
	font-size: 20px;
	text-align: center;
}

.cadastro p {
	font-size: 13px;
}

.cad_form {
    margin: 15px 0 20px;
}

/*=================================================
|||		|   5 PARTE: PÁGINA DE EXIBIÇÃO   |     |||
||+-----+------------------+--------------+-----+||
|||  Autor: Crystian Ataide | Data: 01/05/2023	|||
=================================================*/
.tabela {
	width: 1000px;
	/* margin: 140px auto; */
	border-radius: 55px;
	background-color: #fff;
	padding: 10px 60px 60px 60px;
	box-shadow:  22px 22px 42px #cacaca,
				-22px -22px 42px #f6f6f6;
}

.area_titulo h2 {
	margin: 20px;
	font-size: 35px;
	text-align: center;
}

.area_titulo a {
	width: 0;
	display: block;
}

.btn_incluir {
	width: 45px;
	height: 45px;
	border: none;
	display: flex;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	border-radius: 50%;
	align-items: center;
	transition-duration: .3s;
	justify-content: flex-start;
	background-color: #4CAF50;
	box-shadow: 2px 2px 10px #4CAF50;
}

.btn_incluir img {
	width: 20px;
	padding: 7px;
	display: flex;
	filter: invert();
	align-items: center;
	justify-content: center;
	transition-duration: .3s;
}

.btn_incluir:hover img {
	transform: rotate(180deg);
}

.text {
	right: 0%;
	width: 0%;
	opacity: 0;
	color: white;
	font-size: 1.2em;
	font-weight: 600;
	position: absolute;
	transition-duration: .3s;
}

.btn_incluir:hover {
	width: 125px;
	border-radius: 40px;
	transition-duration: .3s;
}

.btn_incluir:hover .btn_incluir img {
	width: 30%;
	padding-left: 20px;
	transition-duration: .3s;
}

.btn_incluir:hover .text {
	width: 70%;
	opacity: 1;
	padding-right: 10px;
	transition-duration: .3s;
}

.btn_incluir:active {
	transform: translate(2px ,2px);
}

table {
	width: 100%;
}

.tabela_cabecalho {
	height: 5rem;
	font-weight: 600;
}

.tabela_cabecalho th {
	padding: 30px;
	border-bottom: 3px solid #0b8c9f;
}

.tabela_desc {
	cursor: pointer;
	position: relative;
	transition: 0.3s all;
}

.tabela_desc .desc {
	padding: 5px;
	font-size: 1.2rem;
	text-align: center;
	transition: 0.2s all;
	border-bottom: 3px solid #0b8c9f;
}

.tabela_desc:hover > :not(td:nth-last-child(-n+1)) {
	background-color: #9ad2c5;
	transform: scale(102%);
}

.tabela_desc:hover .btn_opcao {
	opacity: 1;
}

.btn_opcao {
	opacity: 0;
	width: 35px;
	height: 29px;
	border: none;
	display: flex;
	cursor: pointer;
	margin-top: 2px;
	overflow: hidden;
	border-radius: 5px;
	position: absolute;
	align-items: center;
	transition-duration: .3s;
	background-color: #9ad2c5;
	justify-content: space-between;
}

.img_opcao {
	width: 22px;
}

.btn_opcao {
	right: 0;
}

.btn_acao img {
	opacity: 0;
	width: 19px;
	padding: 8px;
	color: white;
	font-size: 1.2em;
	font-weight: 600;
	position: absolute;
	transition-duration: .3s;
}

.btn_opcao:hover {
	width: 125px;
	background-color: white;
	transition-duration: .3s;
}

.btn_opcao:hover .btn_acao {
	padding-left: 15px;
}

.btn_opcao:hover .btn_acao img {
	opacity: 1;
	position: relative;
	transition-duration: .3s;
}

.btn_opcao:active {
	transform: translate(2px ,2px);
}

.img_edit:hover{
	border: none;
	border-radius: 50%;
	transform: scale(110%);
	background-color: #0b8c9f;
}

.img_delete:hover {
	border: none;
	border-radius: 50%;
	transform: scale(110%);
	background-color: red;
}


/*=================================================
|||		|    5 PARTE: RODAPE DA PÁGINA    |     |||
||+-----+------------------+--------------+-----+||
|||  Autor: Crystian Ataide | Data: 26/05/2023	|||
=================================================*/
footer {
	bottom: 0;
	width: 100%;
	height: 90px;
	display: flex;
	padding: 20px 0;
	/* position: absolute; */
	align-items: center;
	justify-content: center;
	background: linear-gradient(135deg, #9ad2c5 0%, #9ad2c5 25%, #0b8c9f 75%, #0b8c9f 100%);
}

.img_logo-rodap {
	display: flex;
	align-items: center;
	padding-right: 30px;
	transition: 0.3s all;
}

.img_logo-rodap:hover {
	transform: scale(101%);
}

.img_rodap-carrinho {
	width: 45px;
}

.img_rodap-estacio {
	width: 190px;
}

.descricao p {
	font-size: 15px;
}

.contatos {
	padding-top: 10px;
}

.logo_contato {
	width: 20px;
	transition: 0.3s all;
}

.logo_contato:hover {
	transform: scale(110%);
}